@media (max-width: 375px) {
    span {
        overflow: scroll;
    }
}
.image-wrapper
{
    width: 375px;
    padding: 0;
}

.description{
    width:80%;
    margin-top:10%;
    margin-bottom: 10%;
}


