img {
    width: 100%;
    height: unset;
}

.description{
    width:80%;
    margin-top:10%;
    margin-bottom: 10%;
}
@media (min-width: 568px) {
    img {
        width: 568px;
        height: 568px;
    }

}

