<section class="row justify-content-center align-items-center my-5 py-3 ">
    <article class="col-12 col-md-7 col-xl-4">
        <span class="row">
            <span class="col-12 col-md-6">

                    <i class="bi bi-geo-alt"></i><br>
                    <p>ul. Lazurowa 39,<br> 90-501 Gąski</p>

            </span>
            <span class="col-12 col-md-6">

                    <p><i class="bi bi-envelope"></i><br>recepcja@nocleg-gąski.pl</p>
                    <p><i class="bi bi-telephone"></i><br>+48 721-080-361</p>

            </span>
        </span>
    </article>
    <article class="col-12 col-md-4">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9327.508360289432!2d15.882727257922364!3d54.235363951361435!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47003a9f819546c3%3A0xfeb1588a6531d03c!2zR8SFc2tp!5e0!3m2!1spl!2spl!4v1689354633075!5m2!1spl!2spl" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </article>
</section>
