.img-box {
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    height: 17rem;
    width: 15%;
    padding: 0;
    transition: 500ms ease;
}

.img-box i {
    position: absolute;
    left:50%;
    bottom: 10px;
    transform: translateX(-50%);
    background-color: white;
    padding: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
}
.image-wrapper {
    flex: 1;
    aspect-ratio: 1 / 1 ;
    border-radius: 1000%;
    overflow: hidden;
}
section {
    display: flex;
    width: 100%;
    justify-content: center;
}
