@import "../../../../assets/variables";

article {
    margin-bottom: 6%;
}

.info {
    background-color: white;
    width: 100%;
    height: 200px;
    margin-top: 5%;

    span {
        width: fit-content;
    }
    .title {
        width: fit-content;
        font-size: 32px;
        font-family: "Malgun Gothic";
    }

    .description {
        width: fit-content;
        color: grey;
    }

    .price {
        width: fit-content;
        font-size: 26px;
        font-family: "Malgun Gothic";
    }
}



.button-wrapper {
    right: 10%;
    bottom: 10%;

    mat-icon {
        color: white;
    }

    .switch-botton {
        width: 80px;
        height: 50px;
        background-color: transparent;
        border: 2px solid white;
        filter: brightness(0.85);
    }

    .left-button {
        right: 10%;
        bottom: 10%;
    }

    .right-button {
        right: 3.5%;
        bottom: 10%;
    }

    .left-button:hover, .right-button:hover {
        filter: brightness(1);
    }
}



img {
    cursor: pointer;
    border: 12px solid $primary-color;
}
.img-holder {
    width: fit-content;
}

@media (min-width: 1024px) {
    .image-wrapper {
        width: 75%;
    }
}

@media (min-width: 1960px) {
    .image-wrapper {
        width: 55%;
    }
}

