@import "../../../../assets/variables";

span {
    width: fit-content;
}

.title {
    width: fit-content;
}

.description {
    width: fit-content;
    color: grey;
}

.price {
    width: fit-content;
    font-size: 1.2rem;
}

.details-button {
    background-color: darkorange !important;
}

.button-wrapper {
    right: 10%;
    bottom: 10%;

    mat-icon {
        color: white;
    }

    .switch-button {
        width: 60px;
        height: 34px;
        background-color: transparent;
        border: 2px solid white;
        filter: brightness(0.85);
        cursor: pointer;
    }

    .left-button {
        right: 10%;
        bottom: 10%;
    }

    .right-button {
        right: 3.5%;
        bottom: 10%;
    }

    .left-button:hover, .right-button:hover {
        filter: brightness(1);
    }
}


img {
    cursor: pointer;
}

.img-holder {
    width: fit-content;
}


@media (max-width: 576px) {
    img {
        width: 100%;
        height: unset;
    }
}


@media (min-width: 2000px) {
    img {
        width: 801px;
        height: 534px;
    }
    .button-wrapper {
        .switch-button {
            width: 98px;
            height: 60px;
        }
    }


}


