<ng-container *ngFor="let facilitie of facilities">
    <span *ngIf="facilitie.title === selected" class="w-100 position-relative  justify-content-center">
            <img  ngSrc="{{facilitie.src}}" alt="{{facilitie.title}}" class="rounded" width="450" height="450">
<!--        tuta trzeba wlasnie zroibc teog ngFor -->
        <app-image-slots class="position-absolute" (mouseEnterEvent)="changeSelection($event)"
                         [facilities]="facilities"
                         [selected]="selected">
        </app-image-slots>
    </span>
</ng-container>
