<section id="facilitiesSection" class="d-none d-md-flex flex-column align-items-center h-50  py-5">
    <app-image-slots class="" (mouseEnterEvent)="setSelection($event)"></app-image-slots>
    <app-facility-description class="my-4" [content]="FacilitiesContents[this.contentToDisplay]" [@fadeInOut]="contentToDisplay" ></app-facility-description>
    <app-big-image class="" [@fadeInStill]="contentToDisplay"></app-big-image>

</section>

<section class="d-md-none row justify-content-center" >
    <ng-container *ngFor="let content of FacilitiesContents | keyvalue">
        <app-facility-descripton-mobile class="" [content]="content.value"></app-facility-descripton-mobile>
    </ng-container>
</section>
