<section class="vh-100 d-none d-md-block">
    <h2 class="row justify-content-center text-center">Co ciekawego u nas ?</h2>
    <span class="position-relative row justify-content-center">
        <app-facility-description class="col-4" *ngIf="description$ | async as description" [description]="description"></app-facility-description>
        <app-big-image class="col-4 flex" [images$]="images$"></app-big-image>
    </span>
</section>

<section class="d-md-none row justify-content-center">
    <ng-container *ngIf="contents as facilitates">
            <app-facility-descripton-mobile *ngFor="let facilitie of facilitates | keyvalue" [content]="facilitie"></app-facility-descripton-mobile>
    </ng-container>
</section>
