section {
    background-color: mediumaquamarine;

    app-image-slots{
        width: 60%;
    }
    app-facility-description {
        display: flex;
        align-items: center;
        justify-content: center;
        width:25%;
        height: 10em;
    }
    app-big-image{
        width:70%;
    }
}


.hidden {
    visibility: hidden;
    filter: blur(5px);
    transform: translateY(5%);
    transition: all 400ms ease-out;
}
.visible {
    visibility: visible;
    transform: translateY(0);
    filter: blur(0);
}

