<section class="d-none d-md-block">
    <h2 class="text-center">Co ciekawego u nas ?</h2>
    <div class="d-flex justify-content-center ">
        <app-facility-description class="" [content]="contentsEnhanced | getSelectedContent" ></app-facility-description>
        <app-big-image class="" (changeContentEvent)="setIsSelected($event)" [images]="contentsEnhanced"></app-big-image>
    </div>
</section>

<section class="d-md-none d-flex flex-column g-0 justify-content-center">
    <ng-container *ngIf="contentsEnhanced as contents">
        <app-facility-descripton-mobile *ngFor="let key of contents | getKeys" [@appearFromBottom]="contents[key | transformToContentKey].isVisible"
                                        [isVisible]="contents[key | transformToContentKey].isVisible"
                                        [link]="contents[key | transformToContentKey].src"
                                        [title]="contents[key | transformToContentKey].title"
                                        [description]="contents[key | transformToContentKey].description"
                                        id="{{key}}">
        </app-facility-descripton-mobile>
    </ng-container>
</section>
