<section class="d-none d-md-flex navbar standard-nav">

        <img (click)="moveToMainPage()" ngSrc="./assets/images/logo-Gąski-50w.png" width="40" height="40" alt="logo">



        <p (click)="scrollToElement('rooms')">Pokoje</p>



        <p (click)="scrollToElement('facilities')">Atrakcje</p>



        <p (click)="scrollToElement('facilities')">Jak rezerwować?</p>



        <p (click)="scrollToElement('footer')">Kontakt</p>


</section>

<section class="d-md-none navbar mobile-nav">



                <mat-icon class="" (click)="drawer.toggle()">menu</mat-icon>

                <div (click)="moveToMainPage()" class="image-wrapper"><img src="./assets/images/logo-Gąski-50w.png" alt="logo"></div>




    <div class="position-relative">

             <mat-drawer-container class="sidebar-container" autosize>
                <mat-drawer #drawer class="sidenav" mode="side">
                    <div class="sidenav-link" (click)="scrollToElement('rooms')">
                        <p>Pokoje</p>
                    </div>

                    <div class="sidenav-link" (click)="scrollToElement('facilities')">
                        <p>Atrakcje</p>
                    </div>

                    <div class="sidenav-link" (click)="scrollToElement('facilities')">
                        <p>Jak rezerwować?</p>
                    </div>

                    <div class="sidenav-link" (click)="scrollToElement('footer')">
                        <p>Kontakt</p>
                    </div>
                </mat-drawer>

             </mat-drawer-container>
        </div>

</section>
