<section class="d-none d-md-flex navbar standard-nav">
    <img (click)="moveToMainPage()" alt="logo" width="40" height="40" ngSrc="./assets/images/logo-Gąski-50w.png" class="link">
    <p (click)="jumpToElement('rooms')" class="link">Pokoje</p>
    <p (click)="jumpToElement('facilities')" class="link">Atrakcje</p>
    <p (click)="jumpToElement('reservation-info')" class="link">Jak rezerwować?</p>
    <p (click)="jumpToElement('footer')" class="link">Kontakt</p>
</section>

<nav class="d-md-none navbar mobile-nav">

    <mat-icon (click)="drawer.toggle()" class="">menu</mat-icon>
    <div (click)="moveToMainPage()" class="image-wrapper"><img alt="logo" src="./assets/images/logo-Gąski-50w.png">
    </div>

    <div class="position-relative">

        <mat-drawer-container class="sidebar-container">
            <mat-drawer #drawer class="sidenav" mode="side">
                <div (click)="jumpToElement('rooms')" class="sidenav-link">
                    <p>Pokoje</p>
                </div>

                <div (click)="jumpToElement('facilities')" class="sidenav-link">
                    <p>Atrakcje</p>
                </div>

                <div (click)="jumpToElement('facilities')" class="sidenav-link">
                    <p>Jak rezerwować?</p>
                </div>

                <div (click)="jumpToElement('footer')" class="sidenav-link">
                    <p>Kontakt</p>
                </div>
            </mat-drawer>

        </mat-drawer-container>
    </div>

</nav>
