<section class="d-none d-md-flex navbar standard-nav">
    <div class="logo-wrapper mx-xxl-5"><img (click)="moveToMainPage()" alt="logo" width="40" height="40" ngSrc="./assets/images/logo-Gąski-50w.png" class=""></div>
    <div (click)="jumpToElement('rooms')" class="link mx-xxl-5 px-3"><p class="mx-4 py-1">Pokoje</p></div>
    <div (click)="jumpToElement('facilities')" class="link mx-xxl-5 px-3"><p class="mx-4 py-1">Atrakcje</p></div>
    <div (click)="jumpToElement('reservation-info')" class="link mx-xxl-5 px-3"><p class="mx-4 py-1">Rezerwacja</p></div>
    <div (click)="jumpToElement('footer')" class="link mx-xxl-5 px-3"><p class="mx-4 py-1">Kontakt</p></div>
</section>

<nav class="d-md-none navbar mobile-nav">

    <mat-icon (click)="toggleDrawer()" [@rotate]="isDrawerVisible">menu</mat-icon>
    <div (click)="moveToMainPage()" class="image-wrapper"><img alt="logo" src="./assets/images/logo-Gąski-50w.png">
    </div>

    <div class="position-relative">

        <mat-drawer-container class="sidebar-container" *ngIf="isDrawerVisible">
            <mat-drawer #drawer class="sidenav" mode="side">
                <div (click)="jumpToElement('rooms')" class="sidenav-link">
                    <p>Pokoje</p>
                </div>

                <div (click)="jumpToElement('facilities')" class="sidenav-link">
                    <p>Atrakcje</p>
                </div>

                <div (click)="jumpToElement('facilities')" class="sidenav-link">
                    <p>Jak rezerwować?</p>
                </div>

                <div (click)="jumpToElement('footer')" class="sidenav-link">
                    <p>Kontakt</p>
                </div>
            </mat-drawer>

        </mat-drawer-container>
    </div>

</nav>
