<h2 class="text-center">{{roomName}}</h2>

<p class="room-description text-center">{{roomDetails?.description}}</p>

<h3 class="text-center">Wnętrze:</h3>

<ng-container *ngFor="let link of roomDetails?.imageLink">
    <div class="image-wrapper">
        <img ngSrc="{{link}}" height="500" width="800" class="rounded-4">
    </div>
</ng-container>

<h4 class="text-center mt-5">Cennik:</h4>
<div class="text-center mb-5">MIJESCE NA KALKULATOR</div>

<h4 class="text-center">Jak zarezerwować ?</h4>

<!-- her is the example why I cannot use utility classes-->
<div class="info-wrapper">
    <p class="book-info">Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br>
        afssdaddasasd
    </p>
</div>
