h2 {
    margin-top: 5%;
}

.room-description {
    margin-bottom: 6%;
}


.image-wrapper {
    display: flex;
    justify-content: center;
}
img {
    margin: 2%;

}
.book-info {
    width: fit-content;
}
.info-wrapper {
    display: flex;
    justify-content: center;
}
