<h2 class="text-center">{{roomName}}</h2>

<p class="room-description text-center">{{roomDetails?.shortDescription}}</p>

<div class="container-sm my-5">
    <div class="row justify-content-center">
        <p class="col-12 col-lg-8 text-center">
            {{roomDetails?.longDescription}}
        </p>
    </div>
</div>

<h3 class="text-center">Wnętrze:</h3>
<article class="d-xl-flex flex-xl-wrap mx-auto">
    <ng-container *ngFor="let link of roomDetails?.imageLink">
        <div class="d-flex justify-content-center mx-auto my-4">
            <img class=" m-xl-3" height="400" ngSrc="{{link}}" width="600">
        </div>
    </ng-container>
</article>

<h3 class="text-center py-3 mt-5">Jak rezerwować ?</h3>

<p class="info mx-auto w-50 text-center pt-2 mb-5 pb-5">Przy pomocy interaktywnego kalendarza możesz w łatwy sposób
    Aby sprawdzić dostępne terminy lub zarezewować nocleg przez internet przejdź na stronę pokoju i skorzystaj z kalendarza.
    Nocleg możesz zarezerowac również kontaktując się z nami telefonicznie pod numerem 781-032-228.
</p>
<!-- 
<app-calendar (selected)="selectedDays = $event"></app-calendar>

<button (click)="goToSummary()" class="mx-auto d-block reservationButton mt-5 mb-2" color="warn" mat-raised-button>Zarezerwuj</button>
<div class="d-flex justify-content-center flex-column align-items-center">
    <mat-error class="text-center" *ngIf="errors.minimumError">Musisz zaznaczyć conajmniej 1 dzień!<br></mat-error>
    <mat-error class="text-center" *ngIf="errors.maximumError">Możesz zarezerwować do 15dni!<br>Aby zarezerwować dłuższy pobyt skontaktuj się z nami!<br></mat-error>
    <mat-error class="text-center" *ngIf="errors.connectionError">Twoja rezerwacja nie może być przerywana!<br></mat-error>
</div> -->

