<ng-container>
    <h2 class="text-center">{{roomName}}</h2>

    <p class="room-description text-center">{{roomDetails?.description}}</p>

    <h3 class="text-center">Wnętrze:</h3>

    <ng-container *ngFor="let link of roomDetails?.imageLink">
        <div class="d-flex justify-content-center">
            <img ngSrc="{{link}}" height="400" width="600" class="rounded-4">
        </div>
    </ng-container>

    <h4 class="text-center mt-5">Cennik:</h4>

    <app-prices [pricePerDay]="roomDetails?.basePricePerNight" [priceForService]="100"></app-prices>

    <app-calendar (selected)="selectedDays = $event"></app-calendar>

    <button class="mx-auto d-block" (click)="goToSummary()" mat-raised-button color="warn" >zarezerwuj -></button>

    <p class="info mx-auto w-50">Przy pomocy interaktywnego kalendarza możesz w łatwy sposób sprawdzić dostępne terminy, oraz zarezerwować nocleg.<br>
        Zaznacz odpowiednie dni, a następnie kliknij przycisk "rezerwuj".<br>
        Zostaniesz poproszony o podanie swoich danych kontaktowych.
        Jeśli zatwierdzisz formularz, twoja rezerwacja będzie dla nas widoczna. <br>
        Tak szybko jak będzie to możliwie skontaktujemy się z Tobą. Rezerwacja staje się ważna dopiero po wpłaceniu zaliczki
        wysokości 100zł na nasze konto bankowe.
    </p>

</ng-container>
