@import "src/assets/variables.scss";
h2 {
    margin-top: 5%;
}

.room-description {
    margin-bottom: 6%;
}

img {
    margin: 2%;
}

.book-info {
    width: fit-content;
}

button {
    width: fit-content;
    background-color: $primary-color;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.info {
    width: 40%;
}
