<section class="">
    <img ngSrc="assets/images/zachód-słońca.jpg" fill="true">
    <div class="position-absolute text-background d-flex justify-content-center align-items-center rounded-5 welcome-text-wrapper">
        <span>
            <h1>Nocleg nad morzem w Gąskach</h1>
            <p>Tutaj spędzisz niezapomniane chwile!</p>
        </span>
    </div>

        <span class="hint position-absolute d-flex flex-row" (click)="scrollDown()">
            <div class="scroll-down1">
                    <mat-icon class="fa fa-angle-down">arrow_forward_ios</mat-icon>
            </div>
             <div class="arrow"></div>
            <div class="text">PRZEWIŃ</div>
        </span>

</section>
