<section>
    <img ngSrc="https://picsum.photos/2048/1300" fill>
    <div class="position-absolute text-background d-flex justify-content-center align-items-center rounded-5">
        <span>
            <h1>Nocleg nad morzem w Gąskach</h1>
            <p>Tutaj spędzisz niezapomniane chwile!</p>
        </span>
    </div>

        <span class="hint" (click)="scrollDown()">
            <div class="scroll-down1 position-absolute">
                    <mat-icon class="fa fa-angle-down">arrow_forward_ios</mat-icon>
                <span class="test"></span>
            </div>
        </span>

</section>
