@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700,800,900");

section {
    width: 100vw;
    height: 100vh;

    img {
        object-fit: cover;
    }
}

.text-background {
    background-color: rgba(127, 126, 122, 0.3);
    width: 70%;
    height: fit-content;
    padding: 20px;
    right: 50%;
    bottom: 50%;
    transform: translateX(50%);
}

span {
    width: fit-content;
}

h1, p {
    color: white;
    padding: 0;
    margin: 0;
    font-family: cursive;
}

h1 {
    font-size: 2.5rem;
}

p {
    padding-top: 20px;
    font-size: 1.6rem;
}

.scroll-down1 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border:  3px solid white;
    font-size: 30px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto; //---you can romove this line---
    background-color: transparent;
    z-index: 2;
    bottom: 20vh;
    left: 45vw;


    mat-icon {
        color: white;
        animation: scrollDown1 1.5s ease infinite;
        display: block;
    }


}

.arrow {
    border-top: 1px solid white;
    cursor: pointer;
    z-index: 3;
    position: relative;
    width: 8vw;
    transform: translateY(50%);
    margin-left: 1vw;

}

.text {
    font-family: cursive;
    cursor: pointer;
    color: white;
    z-index: 3;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
}

.hint {
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
}

@media (min-width: 900px) {
    .text-background {
        right: 50%;
        bottom: 70vh;
        width: 30%;
        transform: translate(50%, 50%);
    }
}

@keyframes scrollDown1{
    0%{
        transform: translateY(-15px) rotate(90deg);
        opacity: 0;
    }
    50%{
        transform: translateY(0px) rotate(90deg);
        opacity: 1;
    }
    100%{
        transform: translateY(15px) rotate(90deg);
        opacity: 0;
    }
}
