<h3 class="mx-auto my-5 pt-5">Podsumowanie:</h3>
<p class="w-50 mx-auto my-5 text-center">Dziękujemy za wybranie odpowiadającyh terminów. Prosimy Cię teraz o podanie
    danych kontaktowych w celu skontaktowania się z Tobą.<br>
    Jeśli potiwerdzisz formularz, skontaktujemy się z Tobą.<br> Rezerwacja staje się ważna dopiero po wpłaceniu zaliczki
    na nasze konto bankowe w wysokości 100zł.
</p>

<div class="d-flex justify-content-center">
    <div class="wrapper my-5 ">
        <div class="value-wrapper">
            <span class="label">Data przyjazdu:</span>
            <span class="value"> {{reservation!.days!.firstDay | date: 'dd-MM-YYYY'}} 15:00 </span>
        </div>
        <div class="value-wrapper">
            <span class="label">Data odjazdu:</span>
            <span class=""> {{reservation!.days!.lastDay | nextDay | date: 'dd-MM-YYYY'}} 12:00</span>
        </div>
        <div class="value-wrapper">
            <span class="label">Liczba dni:</span>
            <span class=""> {{reservation!.days!.firstDay | amountOfDays: reservation!.days!.lastDay}}</span>
        </div>
        <div class="value-wrapper">
            <span class="label">Koszt noclegu na dzień:</span>
            <span class="value"> {{reservation?.perDayCost | currency:'PLN':true}}</span>
        </div>
        <div class="value-wrapper">
            <span class="label">Koszt sprzątania:</span>
            <span class="value"> {{reservation?.serviceCost | currency:'PLN':true}}</span>
        </div>
        <div class="value-wrapper">
            <span class="label">Razem:</span>
            <span class="value"> {{finalCost | currency:'PLN':true}}</span>
        </div>
    </div>
</div>


<div class="row justify-content-center">
    <div class="col-md-6 col-xl-4 col-xxl-3">
        <div class="card">
            <div class="card-header text-center bg-primary-subtle">Formularz kontaktowy</div>
            <div class="card-body">
                <form (ngSubmit)="makeReservation()" [formGroup]="contactForm"
                      class=" mx-auto my-5  d-flex flex-column justify-content-center align-content-center ">
                    <mat-form-field appearance="outline">
                        <mat-label>Imie</mat-label>
                        <input formControlName="fullName"  type="text" matInput placeholder="Wpisz swoje imie i nazwisko">
                        <mat-error *ngIf="contactForm.get('fullName')?.hasError('required')">To pole nie może być puste</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline">
                        <mat-label>Telefon</mat-label>
                        <input (focusin)="setIsTelephoneFormControlFocused(true)"  (focusout)="setIsTelephoneFormControlFocused(false)" formControlName="telephone" type="telehone" matInput placeholder="Wpisz swój numer telefonu" #telephone>
                        <span *ngIf="isTelephoneFormControlFocusedOrDirty" matTextPrefix class="pe-1">+48</span>
                        <mat-hint>Numer telefonu musi zawierać 9 cyfr</mat-hint>
                        <mat-hint align="end">{{telephone.value.length}}/9</mat-hint>
                        <mat-error *ngIf="contactForm.get('telephone')?.hasError('required')">To pole nie może być puste</mat-error>
                        <mat-error *ngIf="contactForm.get('telephone')?.hasError('pattern')">Numer telefonu jest nieprawidłowy</mat-error>
                    </mat-form-field>
                    <mat-form-field appearance="outline" >
                        <mat-label>E-mail</mat-label>
                        <input formControlName="email" matInput type="email" placeholder="Wpisz swój adres e-mail">
                        <mat-error *ngIf="contactForm.get('email')?.hasError('email')">Podaj prawidłowy e-mail</mat-error>
                        <mat-error *ngIf="contactForm.get('email')?.hasError('required')">To pole nie może być puste</mat-error>
                    </mat-form-field>
                    <button  mat-raised-button color="accent" type="submit" class="my-3 "><span style="color: white;">Potwierdź rezerwacje</span></button>
                </form>
            </div>
        </div>
    </div>

</div>

