<h1 class="text-center" mat-dialog-title>Dodaj nowe udogodnienie</h1>

<mat-dialog-content>

    <form [formGroup]="facilityForm" class="d-flex flex-column">

        <mat-form-field class="form-group">
            <input matInput placeholder="Nazwa" formControlName="title">
            <mat-error *ngIf="facilityForm.get('title')?.hasError('required')">
                Nazwa jest wymagana
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <textarea matInput placeholder="Opis" formControlName="description"></textarea>
            <mat-error *ngIf="facilityForm.get('description')?.hasError('required')">
                Opis jest wymagany
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-group">
            <input  matInput placeholder="Zdjęcie" formControlName="src">
            <mat-error *ngIf="facilityForm.get('src')?.hasError('required') && facilityForm.get('src')?.touched">
                Zdjęcie jest wymagane
            </mat-error>
            <mat-hint>Zdjęcie powinno być w formacie 1:1</mat-hint>
        </mat-form-field>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-button mat-dialog-close color="" (click)="onCancel()">Anuluj</button>
    <button mat-button color="primary" (click)="onSave()" [disabled]="facilityForm.invalid">Dodaj</button>
</mat-dialog-actions>

