<div class="legend-wrapper d-flex flex-column flex-lg-row justify-content-center align-items-center mt-4 ">
    <span class="d-flex flex-row align-items-center mt-4 mt-lg-0 square-wrapper justify-content-start justify-content-lg-center">
        <div class="square light-red"></div>
        <div class="square red me-3"></div>
        <span>- zarezerwowane terminy</span>
    </span>

    <span  class="d-flex flex-row align-items-center mx-lg-5 mt-4 mt-lg-0 square-wrapper justify-content-start justify-content-lg-center">
        <div class="square light-green"></div>
        <div class="square green me-3"></div>
        <span>- dostępne terminy</span>
    </span>

    <span class="d-flex flex-row align-items-center mt-4 mt-lg-0 square-wrapper justify-content-start justify-content-lg-center">
        <div class="square transparent"></div>
        <div class="square blue me-3"></div>
        <span>- zaznaczenie</span>
    </span>
</div>
