@import './assets/reset';
@import "assets/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: $text-color;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
}

app-rooms, app-welcome-text {
    scroll-margin-top: 150px;
}

app-facilities {
    scroll-margin-top: 80px;
}

app-room {
    display: block;
}

app-banner {
    position: relative;
}

.container-fluid {
    padding: 0 !important;
    --bs-gutter-x: 0 !important;
}

