<article class="m-auto">
    <div class="mx-auto month-wrapper d-flex flex-row mb-4">
        <button (click)="changeMonth(-1)" class="" mat-raised-button><mat-icon>chevron_left</mat-icon></button>
        <span class="text-center">{{date | date: 'LLLL YYYY' }}</span>
        <button (click)="changeMonth(1)" mat-raised-button><mat-icon>chevron_right</mat-icon></button>
    </div>

    <div class="calendar justify-content-center">

        <div class="calendar-header d-flex flex-row rounded-top-2">
            <div class="calendar-header-item d-flex justify-content-center align-content-center flex-wrap"
                 *ngFor="let day of days">{{day}}</div>
        </div>

        <div class="calendar-item-wrapper d-flex flex-row flex-wrap">
            <div class="calendar-item position-relative"
                 *ngFor="let date of calendarDates; let i = index"
                 (click)="switchSelectDay(i, date.state)"
                 (mouseenter)="addHoverState(i)"
                 (mouseleave)="deleteHoverState(i)"
                [@calendarStateColor]="date.state"
                [ngClass]="date.state !== 'reserved' && date.state !== 'reservedOutOfMonth' ? 'pointer': ''">
                <span class="position-absolute user-select-none">
                    {{date.date | date:'d'}}
                </span>
            </div>
        </div>
    </div>

</article>
