article {
    width: 60%;
}
.month-wrapper {
    width: fit-content;
    box-sizing: border-box;

    span {
        width: 15rem;
        display: block;
        font-size: 1.4rem;
    }

    button {
        width: 30px;
        height: 30px;
        background-color: #37deb4;
    }
}

.calendar {
    font-size: 0.8rem;
}

.calendar-header {
    border: 2px solid black;
    background-color: #37deb4;
}

.calendar-header-item {
    width: 14.28%;
    //aspect-ratio: 1;
    //flex: 1;
    height: 70px;
    border-right: 1px solid gray;
    font-size: 1rem;
}
.calendar-header-item:last-child {
    border-right: 0;
}

.calendar-item-wrapper {

}

.calendar-item {
    width: 14.28%;
    height: 52px;
    border-bottom: 1px solid lightslategrey;
    border-right: 1px solid lightslategrey;

    span {
        left: 10%;
        bottom: 20%;
        color: inherit;
    }
}

.calendar-item:nth-of-type(7n + 1) {
    border-left: 1px solid lightslategrey;
}

.pointer {
    cursor: pointer;
}

.gray {
    color: #79807e;
}

mat-icon {
    font-size: 1.4rem !important;
    height: 1.4rem !important;
    width: 1.4rem !important;
    margin: 0 0 0 0 !important;
    color: white !important;
}
.month {
    font-size: 1.3rem;
    //padding: 0 10px 0 10px;

}
